@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #221E1E;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
    margin-right: 60px;
}

.cabeçalho-logo {
    height: 80px;
    margin-right: 500px;
}

.cabeçalho-menu-item {
    list-style: none;
}

a {
    color: #FF5C58;
    font-size: 20px;
}

a:hover {
    color: #FCD2D1;
    font-size: 20px;
    transition: all 0.6s;
}

section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.principal {
    border-top: 0.5px solid #FF5C58;
    margin-bottom: 48px;
}

.projetos {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projetos .pj-1-img{
    align-self: flex-start;
}

.principal-paragrafo {
    font-weight: 400;
    font-size: 20px;
    color: #FCD2D1;
    max-width: 330px;
}

section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer {
    border-top: 0.5px solid #FF5C58;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

button {
    margin-top: 40px;
    border: none;
    background: #FF5C58;
    width: 75px;
    height: 75px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}